.venv
__pycache__
*.pyc
*.pem
.vscode
.pytest_cache
.python-version
.idea
.env
.DS_Store
labs/
notes/
archives/
notebooks/
venv
db.sqlite3
local_settings.py
lab*.py
adsensehost.dat
client_secret.json
sample_insights_data.json
syncotron-9000*.json
runsslserver*
xxx.py
notes.txt
*__ARCHIVED.py
*.csv
download_historical_data.py
